body { direction: rtl; }

/* Password Strength Meter */
.pstrength {
	float: right;       
}
	
.todo .actions, .jakcat .actions, .jakfotcat .actions, .jaknews .actions, .jakplugins .actions, .jakhooks .actions, .jakwidget .actions, .jakcontent .actions {
	right: auto;
	left: 7px;
}

.todo .actions a {
	float: right;
}

.editTodo {
	padding-left: 0;
	padding-right: 9px;
}