<!DOCTYPE html>
<html lang="en">
<head>
	<title>Help - JAKWEB / Template</title>
	<meta charset="utf-8">
	<meta name="author" content="JAKWEB (http://www.jakweb.ch)" />
	<link rel="stylesheet" href="../../css/stylesheet.css" type="text/css" media="screen" />
	
</head>
<body>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="jumbotron">
	<h1>Help - JAKWEB / Template</h1>
	Help for "jakweb" template setting.
</div>

<p>Please install the template with clicking on the <strong>Install</strong> button. After the installation you can change the settings to your needs.</p>


</div>		
</div>

</div><!-- #container -->

</body>
</html>