a {
  color: #7f8c8d;
}

a:hover {
  color: #4e5758;
}

.events-list tr:hover .event-date {
  border-left: 5px solid #7f8c8d;
}

.in-press a:hover {
  color: #7f8c8d;
}

.zoom-item:hover {
  border: 8px solid #7f8c8d;
}

.zoom-item .zoom-info-fade .btn:hover {
  background: #7f8c8d;
}

.footer {
  border-top: 4px solid #7f8c8d;
}

.pagination > .active > a,
.pagination > .active > span {
  border-bottom: 3px solid #7f8c8d;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border-top: 3px solid #7f8c8d;
}

.pagination > li > a:hover {
  color: #7f8c8d;
  border-bottom: 3px solid #7f8c8d;
}

.sequence-pagination li {
  border: 4px solid #7f8c8d;
}
.sequence-pagination li.current {
  background: #7f8c8d;
}

ul.nav-main ul.dropdown-menu {
	background-color: #7f8c8d;
}

ul.nav-main ul.dropdown-menu li:hover > a {
	background: #4e5758;
}

ul.nav-main .dropdown-submenu > a:after {
	border-left-color: #333333;
}

.sb-slidebar a {
	color: #7f8c8d;
}

.btn-primary {
  border: 1px solid #7f8c8d;
  background: none repeat scroll 0 0 #7f8c8d;
}

div.feature-box div.feature-box-icon {
	background: #7f8c8d;
}